<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 th:text="#{app.name}" class="text-center">Medilabo</h1> <!-- Utilisation de l'expression Thymeleaf pour afficher le nom de l'application -->
    <div class="content">
        <h2 class="text-center">Bienvenue sur Medilabo</h2>
        <p class="text-center">Résumé application à remplir</p>
        <a th:href="@{/medilabo/patient/list}" class="btn btn-primary d-block mx-auto">Service Patient</a> <!-- Lien vers la page du service patient -->
    </div>
</div>
</body>
</html>